@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

p {
    font-family: 'Poppins';

}

body {
    max-width: 1200px;
    /* background-color: #034a1fe7; */
    /* background-color: #04034a; */

    margin: 0 auto;
}


/* HEADER */

header {
    background-color: #151515c3;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #ddbf19;
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: bold;
}

header span {
    text-shadow: 2px 2px black;
    color: #fff;
}

header .navegacao-primaria {
    display: flex;
    gap: 30px;
    align-items: center;
}

header .navegacao-primaria li a {
    font-family: 'Poppins';
    text-shadow: 2px 2px black;
    color: #fff;
    width: 0px;
    height: 0px;
    font-size: 1rem;
}

header nav i {
    color: #15151501;
}

header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #ddbf19;
}



/* DOWNLOAD CV SECAO */

.section-div {
    background-color: #151515c3;

    background: url(./images/dj.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: -40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
    height: 500px;
}

.section-div div {
    margin-top: 10px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div div h2 {

    font-family: 'Poppins';
    text-shadow: 2px 2px black;
    font-weight: 600;
    color: #fcfcfc;
}

.section-div div p {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 200;
    text-shadow: 1px 1px 2px black;
    color: #ffffff;
}

.section-div div a {
    font-family: 'Poppins';
    text-shadow: 2px 2px black;

    justify-self: start;
    color: #f7f7f7;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;

}

.section-div img {
    max-width: 100%;
    border-radius: 50%;
}

.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* SEÇÃO PRINCIPAL SOBRE MIM */

main {
    /* background-color: #111; */
    /* background-color: #04034a; */
    background-color: #151515c3;

    color: white;
}

main .sobre {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
    /* background-color: #151515c3; */


}

.sobre_titulo {
    /* margin: 30px 0; */
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
}

.sobre_titulo h1 {
    font-size: 2.5rem;
    color: #ddbf19;
    margin-bottom: 15px;
    font-family: 'Poppins', cursive;
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span {
    display: block;
    border-radius: 2px;
    background-color: #ddbf19;
    height: 2px;
    width: 220px;
    bottom: -30px;
}

.sobre img {
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);

}

/* .sobre img:hover {
    transition: .5s ease-in;
     filter: blur(1px); 
} */

.sobre_conteudo {
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 1/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1 {
    font-family: 'Poppins';
    text-shadow: 2px 2px #000000;
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}

.sobre_texto h1::after {
    background-color: #ddbf19;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px black;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: #ddbf19;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-family: 'Poppins';
    font-size: .8rem;
}

@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao {
    from {
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/* RESPONSIVO */

@media(max-width: 992px) {
    .section-div img {
        display: none;
    }

    .section-div {
        background-image: url(foto.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-div a {
        width: max-content;
    }

    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    header .navegacao-primaria {
        display: none;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    header .navegacao-primaria.ativado {
        background-color: #151515c3;
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
    }

}


@media(max-width: 992px) {
    .funfacts ul {
        display: grid;
        grid-template-columns: none !important;
    }

    .projects ul {
        display: grid;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;
        width: auto !important;

    }

    .projects:hover {
        display: none;
    }

    .projects_armazenamento {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects_armazenamento ul {
        display: flex !important;
        flex-direction: column;
    }

    .projects_armazenamento ul li {
        display: flex !important;
        flex-direction: column;
    }

    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre_conteudo {
        grid-column: 1/-1;
    }
}

/* SEÇÃO SERVICES */

.services {
    margin-top: 0px;
    padding: 60px;
    /* background-color: #151515; */
    background-color: #151515c3;

}

.my_services {
    padding: 60px;
    color: white;
}

.my_services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.my_services ul li {
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 30px;
    text-align: center;
    max-width: 300px;
    align-content: center;
    height: 300px;
    background-color: #000000;

}

.my_services ul li i {
    font-size: 2.7rem;
    color: #ddbf19;
}

.my_services ul li h3 {
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 500;
}

.my_services ul li p {
    font-family: 'Poppins';
    color: #707070;
    font-size: 1rem;
}

.my_services li::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_services li::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_services li:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid #ddbf19;
    border-right: 2px solid #ddbf19;
}

.my_services li:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ddbf19;
    border-left: 2px solid #ddbf19;
}

.my_resume {
    color: white;
    background-color: #151515c3;

}

.resume_generico {
    padding: 30px;
    /* display: grid; */

    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.resume_generico h2 {
    font-family: 'Poppins';
    font-size: 1.5rem;
    background-color: #ddbf19;
    justify-self: start;
    padding: 10px;
    border-radius: 3px;
}

.resume_generico h2 i {
    margin-right: 10px;
}

.experience {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.education {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

.experience_content ul {
    color: #ddbf19;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resume_generico .experience_content div {
    background-color: #000000;
    animation: ladoSecao .5s ease-in-out forwards;
    display: none;
    padding: 40px;
    position: relative;
}

.resume_generico .experience_content div.ativo {
    display: block;
}

.resume_generico .experience_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #000000;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resume_generico .experience_content div span {
    color: #ddbf19;
    font-family: 'Poppins';
    font-weight: bold;
}

.resume_generico .experience_content div h3 {
    font-family: 'Poppins';
    margin: 10px;
}

.resume_generico .experience_content div p {
    font-family: 'Poppins';
    color: #707070;
    font-size: 1.1rem;
}

.experience_content ul li.ativo {
    color: #3e3d3d;
}


/*MEUS DIPLOMAS E CURSOS*/

.resume_generico .education_content div {
    background-color: #000000;
    padding: 40px;
    display: none;
    animation: ladoSecao .5s ease-in-out forwards;
    position: relative;
}

.education_content ul {
    color: #ddbf19;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resume_generico .education_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #000000;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resume_generico .education_content div span {
    color: #ddbf19;
    font-family: 'Poppins';
    font-weight: bold;
}

.resume_generico .education_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_generico .education_content div p {
    color: #707070;
    font-size: 1.1rem;
}

.education_content ul li.ativo {
    color: #3e3d3d;
}

.education_content {
    cursor: pointer;
}

.resume_generico .education_content div.ativo {
    display: block;
}

/*CURSOS E SKILLS*/

.cursos {
    margin-top: 50px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    align-items: center;
    display: column;
    padding: 30px;
    gap: 30px;
    justify-content: center;
}

.cursos h2 {
    grid-column: 1/-1;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 1.5rem;
    font-family: 'Poppins';
    background-color: #ddbf19;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px auto;
}

.my_skill {
    display: grid;
    align-items: center;
    justify-content: center;
}

.my_skill h2 {
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #ddbf19;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin-bottom: 30px;
    justify-self: start;
}

.my_skill h2 i {
    padding-right: 10px;
}

.skill_content {
    font-size: 1.5rem;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
}

.skill_content h3 {
    font-size: 1.5rem;
}

.skill_content ul {
    display: flex;
}

/*FUN FACTS*/

.funfacts {
    align-items: center;
    justify-content: center;
    grid-column: 3/-1;
    grid-row: 1;
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr;
}

.funfacts h2 {
    grid-column: 1/-1;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 1.5rem;
    font-family: 'Poppins';
    background-color: #ddbf19;
    margin-bottom: 30px;
    justify-self: start;

}

.funfacts h2 i {
    padding-right: 10px;
}

.funfacts ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.funfacts ul li {
    background-color: #000000;
    border-radius: 3px solid #2f2b2b;
    display: grid;
    grid-template-columns: auto 1fr;
    align-self: start;
    width: 200px;
    height: 100px;
}

.funfacts ul li i {
    grid-row: 1/3;
    margin: auto;
    padding: 20px;
    font-size: 2rem;
    color: #ddbf19;
    border-right: 2px solid #3e3d3d;

}

.funfacts ul li span {
    font-size: 1.5rem;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.funfacts ul li p {
    padding-left: 10px;
    color: #707070;
    font-weight: bold;
    font-family: 'Poppins';
}

@media (max-width:1089px) {
    .resume_generico .experience_content .education_content {
        justify-self: center;
        grid-column: 1/-1;
    }

    .resume_generico .education {
        grid-column: 1/-1;
        grid-row: 3;
        justify-self: center;
        margin: 30px 0;
    }

    .resume_generico .experience {
        grid-column: 1/-1;
        grid-row: 1;
        justify-self: center;
    }

    .cursos {
        grid-template-columns: 1fr;
    }

    .cursos .funfacts h2 {
        justify-self: center;
    }

    .cursos .funfacts {
        margin-bottom: 30px;
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1;
    }

    .cursos .my_skill h2 {
        justify-self: center;
    }

    .cursos .my_skill {
        text-align: center;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-column: 1/-1;
    }
}

.projects {
    padding: 30px;
    display: grid;
    justify-content: center;
    gap: 80px;
    /* background-color: #000000; */
    background-color: #151515c3;

}

.projects ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.projects_models ul li {
    cursor: pointer;
    background-color: #000000;
    border: 1px solid #333;
    padding: 6px 20px;
    border-radius: 5px;
    color: #f7f7f7;
    font-family: 'Poppins';
}

.projects_models ul li.ativo {
    background-color: #ddbf19;
    color: #151515;
    font-weight: bold;
}

.projects_armazenamento ul {
    display: grid;
    margin-top: 80px;
    gap: 120px 50px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.projects_armazenamento ul li {
    transition: transform 0.5s ease-in-out;
    display: none;
    max-width: 100%;
    height: 100%;
}

.projects_armazenamento ul li p {
    color: #f7f7f7;
    font-family: 'Poppins';
}

.projects_armazenamento ul li.ativo {
    display: block;
    animation: animationImagemButton 2s ease-in-out forwards;
}

.projects_armazenamento ul li img {
    max-width: 100%;
    height: 60%;
    max-height: 200px;
    border-radius: 4px;
    /* cursor: pointer; */
}

.projects_armazenamento ul li:hover {
    scale: 150%;
    transition: .9s ease-in-out;
    z-index: 3;
    background-color: #000000;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
}


.projects a {
    background-color: #000000;
    margin-top: 80px;
    text-decoration: none;
    justify-self: center;
    padding: 20px 40px;
    border: 1px solid #333;
    color: #707070;
    border-radius: 5px;
    color: #f7f7f7;
    font-family: 'Poppins';
}

@keyframes animationImagemButton {
    0% {
        opacity: 0;
        transform: translate3d(0, -90px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

p.diferente {
    margin-top: 20px;
    font-family: 'Poppins';
    text-shadow: 2px 2px 2px black;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
}

p.diferente_n {
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Poppins';
    text-shadow: 2px 2px 2px black;
    color: #f7f7f7;
}

div#diferencial {
    max-width: auto;
    height: 100%;
    background-color: #151515c3;

    padding: 50px;
}


/*FOOTER*/

footer {
    /* background-color: #000000; */
    background-color: #151515c3;

    padding: 30px;
}

.footer_sociais {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.footer_sociais li {
    background-color: #000000;
    border-radius: 50%;
    border: 1px solid #333333;
    margin-top: 20px;
}

.footer_sociais li i {
    padding: 30px;
    font-size: 1.5rem;
    color: #f7f7f7;
}

.footer_sociais li:hover {
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #3e3d3d;
}

/* .footer_sociais::before {
    content: '';
    height: 5px;
    width: 200px;
    position: absolute;
    bottom: -30px;
    background-color: #f2f2f2;
} */

footer .footer_comercial {
    text-align: center;
    color: #ffff;
    margin: 90px auto;
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.anime {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.284) !important;
    position: absolute;
    border-radius: 100px;
}

#video-background {
    color: #151515c3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}